<header>
  {% assign formatted_date = page.date | date: "%d.%m.%Y" %}
  {% assign page_title = page.title | strip | escape | replace: '{date}', formatted_date %}
  <h1>{% if page_title != empty and page_title != "" %}{{ page_title }}{% else %}{{ site.title }}{% endif %}</h1>
  <nav>
    <a href="{{ '/' | relative_url }}" class="home-button"><svg class="icon"><use xlink:href="#home"></use></svg></a> · 
    <a href="{{ '/archive' | relative_url }}">Блог</a> · 
    <a href="{{ '/cv' | relative_url }}">Резюме</a> · 
    <a href="{{ '/contact' | relative_url }}">Контакты</a>
  </nav>
</header>