<div id="navigation">
  <a href="/"><div class="icon" style="font-size: 30px;">&#xe800;<div class="title">Главная страница</div></div></a>
  <a href="/archive.html"><div class="icon">&#xe801;<div class="title">Архив записей</div></div></a>
  <a href="/contact.html"><div class="icon">&#xe802;<div class="title">Контакты</div></div></a>
  <a href="/cv.html"><div class="icon">&#xe803;<div class="title">Резюме</div></div></a>
  <a href="https://github.com/chermenin" target="_blank"><div class="icon">&#xe804;<div class="title">GitHub</div></div></a>
  <a href="https://bitbucket.org/chermenin" target="_blank"><div class="icon">&#xe805;<div class="title">BitBucket</div></div></a>
  <a href="https://vk.com/achermenin" target="_blank"><div class="icon">&#xe806;<div class="title">ВКонтакте</div></div></a>
  <a href="https://facebook.com/chermenin" target="_blank"><div class="icon">&#xe807;<div class="title">Facebook</div></div></a>
  <a href="https://twitter.com/alex_chermenin" target="_blank"><div class="icon">&#xe808;<div class="title">Twitter</div></div></a>
  <a href="mailto:{{ site.email }}" target="_blank"><div class="icon">&#xe80c;<div class="title">Отправить письмо</div></div></a>
  <a href="/atom.xml" type="application/atom+xml"><div class="icon">&#xe818;<div class="title">Подписаться на RSS</div></div></a>
</div>
