{% set page.title = "Резюме" %}
{% extends 'default.html' %}
{% block content %}
	<p style="float:right;text-align:right;">
		<a href="/files/cv.pdf">Скачать в PDF</a><br />
		<a href="http://stackoverflow.com/story/chermenin" target="_blank">Онлайн версия</a>
	</p>
	<h1>Александр Черменин</h1>
	<p>
		<a href="{{ site.url }}">{{ site.url }}</a><br />
		<a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
		&nbsp;
	</p>

	<p>
		Занимаюсь программированием уже почти 20 лет, из них более 7 лет - профессионально. Изначально больше занимался разработкой
		настольных приложений, однако с началом профессиональной деятельности несколько поменял направление и в основном
		работал над разработкой серверных частей веб-ориентированных приложений и сервисов, время от времени разрабатывая
		и элементы интерфейса. В последние два года занимаюсь различными проектами с использованием систем обработки больших данных
		(таких как Hadoop, Spark, Hive и т.д.), а также доработкой некоторых из этих инструментов.
	</p>

	<h2>Основные навыки</h2>
	<p>
		<ul>
			<li>
				<strong>Объектно-ориентированное программирование</strong>: является основным направлением профессиональной
				деятельности и дальнейшего развития, включая такие языки программирования как Java, C#, PHP. Занимался
				разработкой как с использованием основных возможностей языков, так и с использованием дополнительных фреймворков,
				таких как Spring для Java или Yii для PHP.
			</li>
			<li>
				<strong>Функциональное программирование</strong>: в свободное от работы время занимаюсь изучением других парадигм
				программирования (в частности функциональное программирование) с такими языками как Haskell и Scala.  В работе по
				профессии данные языки пока что применять не приходилось.
			</li>
			<li>
				<strong>Вёрстка и интерфейс</strong>: в процессе работы над проектами приходилось заниматься не только разработкой
				серверной части, но также созданием клиентской части с использованием HTML, CSS и JavaScript, имеется опыт работы как с
				библиотеками (например, JQuery) и фреймворками (в частности AngularJS).
			</li>
			<li>
				<strong>Программы</strong>: довольно много и плотно работал со многими ОС (Windows, Linux, OS X),
				офисными программами (Microsoft Office, Libre Office),
				средами разработки (IntelliJ IDEA, Visual Studio, Eclipse, NetBeans).
			</li>
			<li>
				<strong>Прочее</strong>: имеется хороший опыт работы с реляционными базами данных (Oracle, MSSQL, MySQL), некоторый опыт
				работы с NoSQL (MongoDB, Cassandra), а также с системами контроля версий (Subversion, Mercurial, Git).
			</li>
		</ul>
	</p>

	<h2>Опыт работы</h2>
	<p>
		<ul>
			<li>
				<strong>Сбербанк-Технологии</strong> (июль 2015 - сентябрь 2016): изначально занимался разработкой веб-ориентированной
				системы и сервисов для выполнения внутренних задач по обмену данными и интеграции отдельных подсистем. Помимо этого
				выполнял задачи по анализу и обработке больших массивов данных.
			</li>
			<li>
				<strong>DartIT</strong> (март 2015 - июнь 2015): занимался разработкой серверной части единого личного кабинета
				пользователей Ростелекома (<a href="https://lk.rt.ru" target="_blank">https://lk.rt.ru</a>). В частности реализацией
				новой версии, в которой учтены многие недостатки и недоработки текущей версии. Разработка велась без использования
				каких-либо фреймворков, с использованием библиотек, являющихся внутренними проектами компании.
			</li>
			<li>
				<strong>ProIT</strong> (сентябрь 2014 - март 2015): основной деятельностью в процессе работы в компании было создание
				единой автоматизированной системы торгов, реализованной в виде веб-приложения. В основе использовались Spring и Hibernate,
				с использованием которых создавались нужные REST-сервисы, клиентская часть при этом была разработана с использованием
				AngularJS. Всё это запускалось с использованием сервера приложений Oracle WebLogic.
			</li>
			<li>
				<strong>Прогноз</strong> (июнь 2010 - июль 2012, август 2013 - сентябрь 2014): в течение всего времени работы в данной компании
				приходилось участвовать в разработке многих проектов с использованием самых различных технологий: от создания информационных систем
				с использованием собственно разработанного аналитического комплекса (сейчас Prognoz Platform) и языка Fore, разработки мобильного
				приложения для iPad с использованием языка программирования Objective-C, до написания служб ОС Windows на C#, разработки веб-приложений
				на PHP или Java (последнее с использованием GWT). Всё это было хорошо приправлено написанием запросов и хранимых процедур для СУБД
				Microsoft SQL Server и Oracle.
			</li>
		</ul>
	</p>

	<h2>Образование</h2>
	<p>
		<ul>
			<li>
				<strong>Пермская ГСХА</strong> (2008 - 2015): Факультет прикладной информатики<br />Информационные системы и технологии, специалист
			</li>
		</ul>
	</p>

	<p>
		Люблю интересную, а главное полезную, работу. Довольно легко и быстро изучаю новые языки или технологии. В настоящее время все больше
		и больше углубляюсь в обработку данных. Интересуют методы и возможности повышения производительности систем распределенной обработки больших
		(и не только) объёмов данных, и в первую очередь с использованием Java-технологий.
	</p>

{% endblock %}
